.experiencesContent{
  min-height: $minHeight;
  border-radius: $borderRadius;
  padding: .5rem;
  overflow: hidden;
  width: 100%;

  .experience{
    display: grid;
    height: auto;
    grid-template-columns: 30% 1fr;
    grid-template-rows: 1fr 40%;
    row-gap: .4rem;
    column-gap: .4rem;
    text-align: center;
    
    .dev, .sale, .driver, .army{
      background: $firstColor;
      border-radius: $borderRadius;
      //border: 1px solid $secondColor;
      //box-shadow: $shadow;
      padding: .5rem;
    }
    .works > li{
      font-family: "charmBold";
      font-size: map-get($fontSizeArray, for13px);
      color: $thirdColor;
    }

    .qualifications > li, .use > li, .use{
      font-family: "franckRegular";
      font-size: map-get($fontSizeArray, for11px);
      color: $black;
    }

    .use{
      color: $thirdColor;
    }
  }
  @media screen and (max-width: 850px){
    .experience{
      .works > li{
        font-size: map-get($fontSizeArray, for13px) /1.5;
      }

      .qualifications > li, .use, .use >li{
        font-size: map-get($fontSizeArray, for11px) /1.5;
      }
    }
  };
  @media screen and (max-width: 580px){
    .experience{
      display: flex;
      flex-direction: column;
      .dev, .sale, .driver, .army{
        align-self: center;
      }
      .works > li{
        font-size: map-get($fontSizeArray, for13px) /1.7;
      }

      .qualifications > li, .use, .use > li{
        font-size: map-get($fontSizeArray, for11px) /1.7;
      }
    }
  };

}