.hobbiesContent{
  min-height: $minHeight;
  border-radius: $borderRadius;
  overflow: hidden;
  width: 100%;

  .hobbiesList{
    display: grid;
    grid-template-areas: 
    "Hand Volley"
    "Book Films"
    "Web Travels"
    "Musique Moto"
    "Other Other";
    column-gap: .3rem;
    row-gap: .3rem;

    .hand{
      grid-area: Hand;
    }
    .volley{
      grid-area: Volley;
    }
    .book{
      grid-area: Book;
    }
    .films{
      grid-area: Films;
    }
    .web{
      grid-area: Web;
    }
    .travels{
      grid-area: Travels;
    }
    .musique{
      grid-area: Musique;
    }
    .moto{
      grid-area: Moto;
    }
    .otherInterest{
      grid-area: Other;
    }


    &__interest{
      background: $firstColor;
      border-radius: $borderRadius;
      padding: .7rem;
      display: grid;
      grid-template-areas: 
      "Img H"
      "Text Text";
      grid-template-columns: 70px 1fr;
      grid-template-rows: 70px 1fr;
      img{
        grid-area: Img;
      }
      h6{
        grid-area: H;
        align-self: center;
      }
      .text{
        grid-area: Text;
        font-size: map-get($fontSizeArray, for11px);

        @media screen and (max-width: 1030px){
          font-size: map-get($fontSizeArray, for11px) /1.1;
        };
        @media screen and (max-width: 850px){
          font-size: map-get($fontSizeArray, for11px) /1.5;
        };
        @media screen and (max-width: 580px){
          font-size: map-get($fontSizeArray, for11px) /1.6;
        };
      }
    }
  }
}