.hobbiesContent{
  min-height: $minHeight;
  background: $firstColor;
  border-radius: $borderRadius;
  padding: .8rem;
  overflow: hidden;
  width: 100%;

  h3{
    text-align: center;
    font-family: "franckMedium";
  }

  .hobbiesList{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: .3rem;
    row-gap: .3rem;
    @media screen and (max-width: 580px){
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;  
    };


    &__interest{
      border-radius: $borderRadius;
      border: 1px solid $secondColor;
      box-shadow: $shadow;
      padding: .4rem;

      .text{
        font-size: map-get($fontSizeArray, for11px);

        @media screen and (max-width: 1030px){
          font-size: map-get($fontSizeArray, for11px) /1.1;
        };
        @media screen and (max-width: 850px){
          font-size: map-get($fontSizeArray, for11px) /1.5;
        };
        @media screen and (max-width: 580px){
          font-size: map-get($fontSizeArray, for11px) /1.6;
        };
      }
    }
  }
}