.home{
  .homeContent{
    background-image: linear-gradient(115deg, $firstColor 50%, transparent 200%),
      url("../../media/images/tiger-background.jpg");
    background-position: center center;
    min-height: $minHeight;
    width: 100%;
    min-height: 500px;
    border-radius: $borderRadius;
    position: relative;
    overflow: hidden;

    .content{
      position: absolute;
      top: 20%;
      left: 13%;

      h1, h2, .pdf > a{
        color: $thirdColor;
      }

      h1{
        font-family: "franckBlack";
        margin-bottom: 2rem;
      }
      h2{
        font-family: "franckMedium";
        margin-bottom: 4rem;
      }
      .pdf{
        .button{
          font-size: map-get($fontSizeArray, for20px);
          padding: 1rem 2rem;
          &:hover{
            color: $white;
          }
        }
      }
    }
  }

  @media screen and(max-width: 850px) {
    .homeContent{
      margin-top: 1rem;
      .content{
        .pdf{
          .button{
            padding: .5rem 1rem;
            font-size: map-get($fontSizeArray, for20px) /1.5;
          }
        }
      }
    }
  }
  @media screen and(max-width: 580px) {
    .homeContent{
      margin-top: 1rem;
      .content{
        .pdf{
          .button{
            padding: .5rem 1rem;
            font-size: map-get($fontSizeArray, for20px) /2;
          }
        }
      }
    }
  }

}