

//..for the responsive change at 850px and 580px....................................


//............font familly...................................................

//...........................charm (button).....................
@font-face{
  font-family: 'charmRegular';
  src: url('./fonts/Charm/Charm-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'charmBold';
  src: url('./fonts/Charm/Charm-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

//.........................franck (content).........................
@font-face {
  font-family: 'franckBlack';
  src: url('./fonts/Frank_Ruhl_Libre/FrankRuhlLibre-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'franckBold';
  src: url('./fonts/Frank_Ruhl_Libre/FrankRuhlLibre-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'franckLight';
  src: url('./fonts/Frank_Ruhl_Libre/FrankRuhlLibre-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'franckMedium';
  src: url('./fonts/Frank_Ruhl_Libre/FrankRuhlLibre-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'franckRegular';
  src: url('./fonts/Frank_Ruhl_Libre/FrankRuhlLibre-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

//..............................font size......................................

$fontSizeArray: (
    for350px: 35rem,        //for font-size 350px
    for170px: 17rem,      //for font-size 170px
    for160px: 16rem,      //for font-size 160px  
    for150px: 15rem,        //for font-size 150px               
    for140px: 14rem,      //for font-size 140px
    for90px: 9rem,        //for font-size 90px
    for80px: 8rem,        //for font-size 80px
    for75px: 7.5rem,          //for font-size 75px
    for70px: 7rem,        //for font-size 70px
    for65px: 6.5rem,        //for font-size 65px
    for60px: 6rem,        //for font-size 60px
    for50px: 5rem,       //for font-size 50px
    for46px: 4.6rem,       //for font-size 46px
    for35px: 3.5rem,       //for font-size 35px
    for30px: 3rem,       //for font-size 30px
    for25px: 2.5rem,       //for font-size 25px
    for23px: 2.3rem,       //for font-size 23px
    for20px: 2rem,       //for font-size 20px
    for18px: 1.8rem,       //for font-size 18px
    for16px: 1.6rem,        //for font-size 16px
    for15px: 1.5rem,      //for font-size 15px
    for14px: 1.4rem,      //for font-size 14px
    for13px: 1.3rem,      //for font-size 13px
    for12px: 1.2rem,      //for font-size 12px
    for11px: 1.1rem,      //for font-size 11px

  );

body{
  font-size: 10px;
}
h1{
  font-size: map-get($fontSizeArray, for60px);
}
h2{
  font-size: map-get($fontSizeArray, for35px);
}
h3{
  font-size: map-get($fontSizeArray, for30px);
}
h4{
  font-size: map-get($fontSizeArray, for20px);
}
h5{
  font-size: map-get($fontSizeArray, for16px);
}
h6{
  font-size: map-get($fontSizeArray, for14px);
}
h7{
  font-size: map-get($fontSizeArray, for13px);
}


@media screen and(max-width: 850px) {
  h1{
    font-size: map-get($fontSizeArray, for60px) /1.5;
  }
  h2{
    font-size: map-get($fontSizeArray, for35px) /1.5;
  }
  h3{
    font-size: map-get($fontSizeArray, for30px) /1.5;
  } 
  h4{ 
    font-size: map-get($fontSizeArray, for20px) /1.5;
  } 
  h5{ 
    font-size: map-get($fontSizeArray, for16px) /1.5;
  } 
  h6{ 
    font-size: map-get($fontSizeArray, for14px) /1.5;
  }
  h7{
    font-size: map-get($fontSizeArray, for13px) /1.5;
  }  
}
@media screen and(max-width: 580px) {
  h1{
    font-size: map-get($fontSizeArray, for60px) /2;
  }
  h2{
    font-size: map-get($fontSizeArray, for35px) /2;
  }
  h3{
    font-size: map-get($fontSizeArray, for30px) /2;
  } 
  h4{ 
    font-size: map-get($fontSizeArray, for20px) /2;
  } 
  h5{ 
    font-size: map-get($fontSizeArray, for16px) /2;
  } 
  h6{ 
    font-size: map-get($fontSizeArray, for14px) /2;
  }
  h7{
    font-size: map-get($fontSizeArray, for13px) /2;
  }
  
}  

  //...........................colors......................................

$firstColor: #CDE0F0;
$secondColor: #4EA6F0;
$thirdColor: #2D4AEE;
$black: #051A2C;
$white: #F7FAFC;

//...................general settings.......................................

$borderRadius: 25px;
$shadow: 1px 1px 4px $secondColor;
$minHeight: 95vh;

@mixin verticalCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  margin: 1rem auto;
  max-width: 1400px;
  font-family: 'franckRegular';
  color: $black;
  background: $white;
  @media screen and (max-width: 850px){
    margin: .3rem .3rem;
  }
}

button{
  cursor: pointer;
}

li{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: $thirdColor;
  cursor: pointer;
}

a:visited, h1, h2, h3, h4, h5, h6, h7{
  color: $thirdColor;
}

.home, 
.knowledges, 
.portfolio, 
.contact, 
.experiences, 
.hobbies{
  display: flex;

  @media screen and (max-width: 850px){
    display: block;
  }
}

.homeContent, 
.knowledgesContent, 
.portfolioContent, 
.contactContent, 
.experiencesContent, 
.hobbiesContent{
  margin-left: .4rem;

  @media screen and (max-width: 850px) {
    margin-left: 0;
  }
}
