.modal{
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba($color: #000000, $alpha: 0.7);
  @include verticalCenter;

  .infosContent{
    width: 70%;
    text-align: center;
  }

  .text{
    text-align: justify;
    height: 100%;
  }

  .buttonModal, .text{
    font-size: map-get($fontSizeArray, for20px);
  }

  .head, a, .text, h2{
    margin-bottom: 3rem;
  }

}

.modal, .modal h2, .modal a{
  color: $white;
}

 /*........................................responsive for modal .........................*/



@media screen and (max-width:850px) {

  .modal{
    .buttonModal, .text{
      font-size: map-get($fontSizeArray, for20px) /1.5;
    }
  }
}

@media screen and (max-width:580px) {

  .modal{
    .buttonModal, .text{
      font-size: map-get($fontSizeArray, for20px) /2;
    }
  }
}